In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../students.csv')

In [3]:
from sklearn.decomposition import PCA

In [4]:
pca = PCA(n_components=3)

In [6]:
df.head()

   Unnamed: 0      IQ  CGPA  12th Marks  Gender  Placement
0           0  107.45  2.83          93  Female          0
1           1   97.93  2.44          80  Female          0
2           2  109.72  2.24          89  Female          0
3           3  122.85  2.68          92    Male          0
4           4   96.49  3.89          87  Female          1

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
transformed_df = pd.get_dummies(df)

In [13]:
x = transformed_df.drop(columns=['Placement'])
y = transformed_df[['Placement']]

In [15]:
pca_df = pca.fit_transform(x)

3